<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>bouncy_ball</string>

  <key>CFBundleExecutable</key>
  <string>bouncy_ball</string>

  <key>CFBundleIconFile</key>
  <string>bouncy_ball</string>

  <key>CFBundleIdentifier</key>
  <string>com.patrickpoopathi.myapp</string>

  <key>CFBundleVersion</key>
  <string>0.1.0</string>

  <key>LSUIElement</key>
  <true/>
</dict>
</plist>
